@use '@styles/variables';

.root {
    position: relative;
}

.showPasswordButton {
    position: absolute;
    top: 12px;
    right: 16px;
    padding: 0;
    width: 24px;
    min-width: auto;
    height: 24px;
    color: variables.$color-text-caption-light;
}

:root .error {
    color: variables.$color-ui-elements-error;
}
