@use '@styles/variables';
@use '@styles/utils';

/* stylelint-disable custom-property-pattern */
.rootItem {
    --TreeView-itemChildrenIndentation: 4px;

    :global(.MuiTreeItem-iconContainer) {
        display: none;
    }
}
/* stylelint-enable custom-property-pattern */
.item {
    padding-left: 0;
}

.headerButton {
    gap: 8px;
    padding: 0;
    min-height: 36px;

    &.isExpanded {
        min-height: 36px;
    }
}

:root .itemTitle {
    color: variables.$color-text-caption;
}

.icon {
    color: variables.$color-text-caption;
}

:root .subtitle {
    color: #151515;
}

.label {
    font-size: utils.to-rem(14px);
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
}
