@use '@styles/variables';

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.successContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

:root .successText {
    color: variables.$color-text-caption;
    text-align: center;
}
