@use '@styles/variables';

.main {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
}

.drawerButton {
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    box-shadow: variables.$shadow-knob;
    background-color: white;
    padding: 0;
    width: 42px;
    height: 42px;
    color: variables.$color-blue-3;
}
