/* Colors
 ========================================================================== */
$color-white: white;
$color-secondary-light: rgb(white, 0.2);
$color-black: #0c1015;
$color-green: #29a62d;
$color-background-tertiary: #e4e7eb;
$color-blue-1: #7697c3;
$color-blue-2: #496fa1;
$color-blue-3: #3f6eac;
$color-ui-elements-main: #3f6eac;
$color-ui-elements-hover: rgb(63 110 172 / 12%);
$color-ui-elements-error: #e33d3d;
$color-text-caption: #71767d;
$color-text-caption-light: #959ca4;
$color-neutral-black: #0c1015;

/* Effects
 ========================================================================== */

$gradient-main: linear-gradient(179.03deg, $color-blue-2 0.81%, $color-blue-1 69.06%);
$border-radius-max: 999px;
$shadow: 0 2px 24px 0 rgb(0 0 0 / 13%);
$shadow-knob: 0 2px 24px 0 rgb(22 31 75 / 25%);

// TODO: find color scheme for buttons, links

/* Font families
 ========================================================================== */
$font-family-base: 'Manrope', 'Times New Roman', sans-serif;
$font-family-secondary: 'TT Travels Next Trial Variable', 'PT Serif', serif;

/* Font weight
 ========================================================================== */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Breakpoints
 ========================================================================== */
$breakpoint-xxxlarge: 1600px;
$breakpoint-xxlarge: 1366px;
$breakpoint-xlarge: 1200px;
$breakpoint-large: 1000px;
$breakpoint-medium: 900px;
$breakpoint-small: 640px;
$breakpoint-xsmall: 425px;
$breakpoint-xxsmall: 375px;

/* Transitions
 ========================================================================== */
$transition-default-duration: 0.2s !default;
$transition-default-timing-function: ease-out !default;
$transition-default: $transition-default-duration $transition-default-timing-function !default;
