@font-face {
    font-style: normal;
    font-weight: 200 800;

    //src: url('/fonts/TT Travels Next Trial/tt-travels-next-trial-variable-russian.woff2') format('woff2-variations');
    src: url('/fonts/TT Travels Next Trial/TT Travels Next Trial Variable.ttf') format('truetype-variations');
    font-family: 'TT Travels Next Trial Variable';
    font-display: swap;
}
